jobs:
    release-sbom:
        if: github.event_name == 'push'
        needs: unit-tests
        uses: circlefin/circle-public-github-workflows/.github/workflows/attach-release-assets.yaml@v1
    scan:
        if: github.event_name == 'pull_request'
        needs: unit-tests
        uses: circlefin/circle-public-github-workflows/.github/workflows/pr-scan.yaml@v1
        with:
            allow-reciprocal-licenses: false
    unit-tests:
        runs-on: github-hosted-small
        steps:
            - name: Checkout Repository
              uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955
            - name: Install Go
              uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
              with:
                go-version: 1.21
            - name: Run Unit Tests
              run: make test
name: Unit Tests
"on":
    pull_request: null
    push:
        branches:
            - master
permissions:
    contents: write
